<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fly_move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{97,83}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,83}}</string>
                <key>sourceSize</key>
                <string>{97,93}</string>
            </dict>
            <key>fly_move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,71}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{101,71}}</string>
                <key>sourceSize</key>
                <string>{101,93}</string>
            </dict>
            <key>fly_move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{95,69}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{95,69}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fly.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fa8e77d9f95d10fd4fb98cd7feefd25$</string>
            <key>textureFileName</key>
            <string>fly.png</string>
        </dict>
    </dict>
</plist>
